@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --element-bg: #fff;
    --rose-50: hsl(20, 50%, 98%);
    --Rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);

    --radius-s: 0.5rem;
    --radius-m: 1.5rem;
    --radius-l: 5rem;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*::selection {
    background-color: var(--red);
    color: var(--rose-50);
}

body {
    min-height: 100vh;
    min-height: 100svh;
    padding: 1.5rem;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 0.85rem;
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--rose-900);
    background-color: var(--rose-50);
}

img {
    display: block;
    max-width: 100%;
}

.title,
.text {
    margin: 0;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.button {
    padding: 0;
    font: inherit;
    text-decoration: none;
    text-align: center;
    border: none;
    background: none;
    cursor: pointer;
}

.main-title {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    line-height: 1.2;
}

.button--accent {
    padding: 1.2em 1.5em;
    color: var(--element-bg);
    background-color: var(--red);
    border-radius: var(--radius-l);
    font-weight: 500;
    letter-spacing: .1em;
    line-height: 1.5;
    text-transform: capitalize;
}

/* =============================== product list */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
    gap: 1.5rem;
}

/* =============================== product cards */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.product-wrapper {
    width: 100%;
    margin-bottom: -0.5rem;
    display: grid;
    border-radius: var(--radius-m);
}

.img-wrapper {
    max-height: 16rem;
    overflow: hidden;
}

.product-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: var(--radius-s);
}

.controls {
    justify-self: center;
    align-self: end;
    translate: 0 -50%;
    display: grid;
    perspective: 500px;
}

.controls>* {
    grid-area: 1 / -1;

}

.add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8em 2em;
    background-color: var(--element-bg);
    border: 1px solid var(--rose-500);
    border-radius: var(--radius-l);
    z-index: 1;
    transition: z-index .3s ease-in-out;
    transform-style: preserve-3d;
    animation: slideForth .35s ease-in-out;
}

.add-to-cart::before {
    content: "";
    width: 21px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='20' fill='none' viewBox='0 0 21 20'%3E%3Cg fill='%23C73B0F' clip-path='url(%23a)'%3E%3Cpath d='M6.583 18.85a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5ZM15.334 18.85a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5ZM3.446 1.852a.625.625 0 0 0-.613-.502h-2.5V2.5h1.988l2.4 11.998a.625.625 0 0 0 .612.502h11.25v-1.25H5.847l-.5-2.5h11.238a.625.625 0 0 0 .61-.49l1.417-6.385h-1.28L16.083 10H5.096l-1.65-8.248Z'/%3E%3Cpath d='M11.584 3.85v-2.5h-1.25v2.5h-2.5V5h2.5v2.5h1.25V5h2.5V3.85h-2.5Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M.333 0h20v20h-20z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.controls.purchase .add-to-cart {
    z-index: -1;
    animation: slideBack .35s ease-in-out;
}

.amount-form {
    color: var(--rose-50);
    background: var(--red);
    display: grid;
    height: 100%;
    border-radius: var(--radius-l);
}

.input-wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.amount-input {
    height: 2rem;
    width: 4rem;
    padding: 0;
    border: none;
    background: none;
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    color: var(--rose-50);
    cursor: pointer;
    outline: none;
}

.amount-input::selection {
    background-color: var(--rose-50);
    color: red;
}

.amount-controll {
    width: 42px;
    height: 100%;
    border-radius: 50%;
    outline-color: var(--rose-300);
    outline-offset: 2px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    --circle: radial-gradient(circle at center, transparent 7px, var(--rose-50) 8px, var(--rose-50) 8px, transparent 9px);
}

.amount-controll.less {
    background-image: var(--circle), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='2' fill='none' viewBox='0 0 10 2'%3E%3Cpath fill='%23fff' d='M0 .375h10v1.25H0V.375Z'/%3E%3C/svg%3E");
}

.amount-controll.more {
    background-image: var(--circle), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='none' viewBox='0 0 10 10'%3E%3Cpath fill='%23fff' d='M10 4.375H5.625V0h-1.25v4.375H0v1.25h4.375V10h1.25V5.625H10v-1.25Z'/%3E%3C/svg%3E");
}

.product-card .category {
    margin-bottom: .2rem;
    font-size: .85rem;
    font-weight: 400;
    color: var(--rose-500);
}

.product-card .product-title {
    margin-bottom: .2rem;
    font-size: 1.2rem;
    letter-spacing: -0.01em;
    font-weight: 600;
}

.product-card .product-price {
    font-weight: 700;
    color: var(--red);
}

@keyframes slideBack {
    0% {
        z-index: 1;
    }

    40% {
        transform: translateY(-90%) rotatex(5deg);
    }

    50% {
        transform: translateY(-100%) rotatex(15deg);
    }

    60% {
        transform: translateY(-100%) translatez(-5px) rotatex(30deg);
    }

    70% {
        transform: translateY(-100%) translatez(-20px) rotatex(10deg);
    }

    90% {
        z-index: -1;
        transform: translateY(0) rotatex(10deg);
    }

    100% {
        z-index: -1;
        transform: translateY(0) rotatex(0);
    }
}

@keyframes slideForth {
    0% {
        z-index: -1;
    }

    40% {
        transform: translateY(90%) rotatex(-5deg);
    }

    50% {
        transform: translateY(100%) rotatex(-15deg);
    }

    60% {
        transform: translateY(100%) translatez(5px) rotatex(-30deg);
    }

    70% {
        transform: translateY(100%) translatez(20px) rotatex(-10deg);
    }

    100% {
        z-index: 1;
        transform: translateY(0) rotatex(0);
    }

}

/* ======================================================== footer */



.cart {
    border-radius: var(--radius-s);
    padding: 1.5rem;
    background-color: var(--element-bg);
}

.cart h2.title {
    margin-bottom: 1.5em;
    color: var(--red);
    font-size: 1.5rem;
    text-transform: capitalize;
}

.cart-content {
    min-height: 220px;
    display: grid;
}

.cart-content.empty {
    background-image: url('./assets/images/illustration-empty-cart.svg');
    background-repeat: no-repeat;
    background-position: 50% 43%;
}

.cart-content .filler {
    display: none;
}

.cart-content.empty .filler {
    display: block;
    margin-bottom: 1.2em;
    font-size: .85rem;
    align-self: end;
    text-align: center;
    font-weight: 600;
    color: var(--rose-400);
}

.cart-content.empty .remove {
    display: none;
}

/* =================================================== cart-list */
.cart__list,
.order-list {
    margin-bottom: 1.5rem;
}

.cart__item,
.order-item {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--Rose-100);
    display: grid;
}

.cart__item {
    grid-template-columns: 1fr 3rem;
}

:where(.cart__item, .order-item):not(:last-child) {
    margin-bottom: 1rem;
}

:where(.cart__item, .order-item):last-child {
    padding-bottom: 1.5rem;
}

:where(.cart__item, .order-item) .title {
    margin-bottom: .5rem;
    font-size: .85rem;
    font-weight: 700;
    letter-spacing: -0.03em;
    color: var(--rose-900);
}

:where(.cart__item, .order-item) .amount {
    margin-right: 1em;
    font-size: .85rem;
    font-weight: 700;
    color: var(--red);
}

:where(.cart__item, .order-item) .price {
    margin-right: 6px;
}

:where(.cart__item, .order-item) .total {
    font-weight: 500;
}

.cart__item .delete-item {
    padding: .2rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

.cart__item .delete-item svg {
    width: 1rem;
    aspect-ratio: 1;
    outline: 1px solid #CAAFA7;
    border-radius: 50%;
    outline-offset: 1px;
}

.order-total {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .85rem;
}

.order-total .nubmer {
    font-size: 1.5rem;
    font-weight: 700;
}

.cart__note {
    margin-bottom: 1.6rem;
    padding: 1rem 1.5rem;
    background-color: var(--rose-50);
    border-radius: var(--radius-s);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1ch;
    font-size: .85rem;
}

/* confirm order */
.confirm-order-popup {
    --dur: .3s;
    --del: calc(var(--dur) * 0.5);
    position: fixed;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.5);
    backdrop-filter: blur(5px);
    display: grid;
    align-content: end;
    animation: fadeOut var(--dur) ease-in forwards;
}

.confirm-order {
    width: clamp(20rem, 100%, 37rem);
    display: grid;
    padding: 2.5rem 1.5rem 1.5rem;
    background-color: var(--element-bg);
    border-top-left-radius: var(--radius-m);
    border-top-right-radius: var(--radius-m);
    animation: slideOut var(--dur) ease-out forwards;
    translate: 0 100%;
}

.confirm-order-popup.show {
    scale: 1;
    animation: fadeIn var(--dur) ease-in forwards;
}

.confirm-order-popup.show .confirm-order {
    animation: slideUp var(--dur) ease-out var(--del) forwards;
}

@keyframes slideOut {
    from {
        translate: 0 0;
    }
    to {
        translate: 0 100%;
    }
}

@keyframes slideUp {
    from {
        translate: 0 100%;
    }
    to {
        translate: 0 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
    
}

@media(prefers-reduced-motion: reduce) {
    .confirm-order-popup {
        scale: 0;
        opacity: 0;
    }

    .confirm-order-popup.show {
        animation: none;
        opacity: 1;
    }

    .confirm-order-popup.show .confirm-order {
        animation: none;
        translate: 0 0;
    }
}

.confirm-order::after {
    content: "";
    width: 3rem;
    aspect-ratio: 1;
    margin-bottom: 1rem;
    order: -1;
    background: no-repeat center / contain;
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m21 32.121-7.5-7.502 2.12-2.119L21 27.879 32.377 16.5l2.123 2.122L21 32.121Z' fill='%231EA575'/%3E%3Cpath d='M24 3a21 21 0 1 0 0 42 21 21 0 0 0 0-42Zm0 39a18 18 0 1 1 0-36.001A18 18 0 0 1 24 42Z' fill='%231EA575'/%3E%3C/svg%3E");
}

.confirm-order h2 {
    margin-bottom: .85rem;
    font-size: 2.5rem;
    text-transform: capitalize;
    line-height: 1.14;
    color: var(--rose-900);
}

.confirm-order h2+.text {
    margin-bottom: 2rem;
    color: var(--rose-400);
    letter-spacing: 0.1em;
}

.order-summary {
    margin-bottom: 0.75rem;
    padding: 1.5rem;
    background-color: var(--rose-50);
    border-radius: var(--radius-s);
}

.order-item {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "img title total"
        "img details total";
    gap: 0 1rem;
}

.order-item img {
    width: 3rem;
    border-radius: var(--radius-s);
    grid-area: img;
}

.order-item .title {
    grid-area: title;
}

.order-item .details {
    grid-area: details;
}

.order-item .total {
    grid-area: total;
    align-self: center;
    justify-self: end;
}

@media (min-width: 650px) {
    .confirm-order-popup {
        align-content: center;
        justify-items: center;
        animation-delay: var(--del);
    }

    .confirm-order {
        padding: 2.5rem 2.5rem 2.5rem;
        border-radius: var(--radius-m);
        opacity: 0;
        translate: 0 8rem;
    }

    @keyframes slideOut {
        from {
            opacity: 1;
            translate: 0 0;
        }
        to {
            opacity: 0;
            translate: 0 -8rem;
        }
    }

    @keyframes slideUp {
        to {
            opacity: 1;
            translate: 0 0;
        }
    }
    
    @media(prefers-reduced-motion: reduce) {
        .confirm-order-popup.show .confirm-order {
            translate: 0 0;
            opacity: 1;
        }
    }

    .confirm-order::after {
        margin-bottom: 1.5rem;
    }

    .order-item {
        padding-bottom: .75rem;
    }

    .order-item:last-child {
        padding-bottom: 1.2rem;
    }

}

@media (min-width: 800px) {
    body {
        padding-top: 88px;
        justify-content: center;
        grid-template-columns: minmax(auto, 50rem) 24rem;
        grid-template-rows: auto 1fr;
        gap: 0 1.5rem;
    }

    .header {
        grid-area: 1 / 1 / 2 / 2;
    }

    .main {
        grid-area: 2 / 1 / -1 / 2;
    }

    .footer {
        grid-area: 1 / 2 / -1 / -1;
    }
}

.attribution {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% 0;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--red);
}